<a href="@Url.Action("Giohang" , "Giohang")" style="color: white;  font-weight:bold ; text-decoration:none;">
    <div class="cart" id="cart">
        Giỏ hàng (<span id="cartcount">0</span>)
    </div>
</a>
