<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="rfw8zoXdaAm4WJwn6UJ3YHWK2s2ydjh4rITq6EJxHIk" />

    <!-- Google Analytics -->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-121228995-1', 'auto');
	  ga('require', 'GTM-MVC85VF');
	  ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <!-- Google Tag Manager
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M7ZNHBN');</script>
    <!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code -->
    <script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '944580138890524');
	  fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=944580138890524&amp;ev=PageView&amp;noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Global site tag (gtag.js) - AdWords: 950135383  -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-950135383"></script>
    <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'AW-950135383');
    </script>
    <!-- Send tracking allapges -->
    <script>
	  gtag('event', 'page_view', {
		'send_to': 'AW-950135383',
		'dynx_pagetype': 'Allpages',
	  });
    </script>
    <!-- End Global site tag  -->
    <title>
        | Nhã Nam
    </title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&amp;subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href="http://nhanam.com.vn/Content/css?v=8imxr9kxE8Ns0uVfG6n3SvUEOp3xSC0_gGD1-XMY0go1" rel="stylesheet" />


    <script src="http://nhanam.com.vn/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript)
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7ZNHBN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Global site tag (gtag.js) - Google Analytics remove to included Optimized
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121228995-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121228995-1');
    </script>
    <!-- End Google Analytics -->
    <div class="page ">

        <div class="header">

            <div class="topbar hidden-mobile">
                <div class="wrapper">
                    <div class="clearfix">

                        

                        <ul class="topprofile">
                            <li>
                                <a href="~/Layout/Index">THOÁT</a>
                            </li>
                            

                        </ul>

                    </div>

                </div>


            </div>






            <div class="wrapper wrap">


                

                <div class="cart" id="cart">
                    Giỏ hàng (<span id="cartcount">0</span>)
                </div>
                <div class="search">
                    <form action="http://nhanam.com.vn/tim-kiem" method="GET">

                        <input type="text" name="q" placeholder="Tìm kiếm sách..." class="text" />
                        <input type="submit" value="Tìm kiếm" class="submit" />
                    </form>

                </div>


                <span class="openmenu-icon"></span>
                <span class="opensearch-icon"></span>
            </div>

        </div>



        <div id="mainnav">

            <div class="wrapper">

                <ul class="menu clearfix">
                    <li>
                        <a href="http://nhanam.com.vn/sach-moi-xuat-ban">
                            Danh mục sách
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="http://nhanam.com.vn/chuyen-muc/1/van-hoc-viet-nam">
                                    Văn học Việt Nam
                                </a>
                                <ul class="submenu2">
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/2/tieu-thuyet">
                                            Tiểu thuyết
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/3/truyen-ngan">
                                            Truyện ngắn
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/4/tho-kich">
                                            Thơ / Kịch
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/5/hoi-ky-phe-binh-tieu-luan">
                                            Hồi k&#253; / Ph&#234; B&#236;nh / Tiểu luận
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/6/tap-but-tan-van">
                                            Tạp b&#250;t / Tản văn
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://nhanam.com.vn/chuyen-muc/7/van-hoc-nuoc-ngoai">
                                    Văn học Nước Ngo&#224;i
                                </a>
                                <ul class="submenu2">
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/8/duong-dai">
                                            Đương đại
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/9/lang-man">
                                            L&#227;ng mạn
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/10/trinh-tham-kinh-di">
                                            Trinh th&#225;m / Kinh dị
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/11/kiem-hiep">
                                            Kiếm hiệp
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/12/kinh-dien">
                                            Kinh điển
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/13/tho-kich">
                                            Thơ / Kịch
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/14/hoi-ky-tieu-luan">
                                            Hồi k&#253; / Tiểu luận
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/15/huyen-ao-gia-tuong">
                                            Huyền ảo / Giả tưởng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/16/tan-van-tap-but">
                                            Tản văn / Tạp b&#250;t
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://nhanam.com.vn/chuyen-muc/17/thieu-nhi">
                                    Thiếu nhi
                                </a>
                                <ul class="submenu2">
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/18/tuoi-teen">
                                            Tuổi teen
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/19/truyen-tranh">
                                            Truyện tranh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/20/thieu-nhi">
                                            Thiếu nhi
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://nhanam.com.vn/chuyen-muc/21/thoi-su---chinh-tri">
                                    Thời sự - Ch&#237;nh trị
                                </a>
                                <ul class="submenu2">
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/22/hoi-ky-tu-truyen">
                                            Hồi k&#253; / Tự truyện
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/23/the-gioi-hien-dai">
                                            Thế giới hiện đại
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://nhanam.com.vn/chuyen-muc/25/khoa-hoc-tu-nhien---nhan-van">
                                    Khoa học tự nhi&#234;n - Nh&#226;n văn
                                </a>
                                <ul class="submenu2">
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/26/lich-su">
                                            Lịch sử
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/27/triet-hoc">
                                            Triết học
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/28/tam-ly-hoc">
                                            T&#226;m l&#253; học
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/29/kinh-te">
                                            Kinh tế
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/30/vu-tru">
                                            Vũ trụ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://nhanam.com.vn/chuyen-muc/31/sinh-hoc">
                                            Sinh học
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://nhanam.com.vn/chuyen-muc/32/tham-khao">
                                    Tham khảo
                                </a>
                            </li>
                            <li>
                                <a href="http://nhanam.com.vn/chuyen-muc/43/giam-gia-dac-biet">
                                    Giảm gi&#225; đặc biệt
                                </a>
                            </li>
                            <li>
                                <a href="http://nhanam.com.vn/chuyen-muc/44/sach-tai-ban">
                                    S&#225;ch t&#225;i bản
                                </a>
                            </li>
                            <li>
                                <a href="http://nhanam.com.vn/chuyen-muc/45/dat-truoc-sach">
                                    Đặt trước s&#225;ch
                                </a>
                            </li>

                        </ul>

                    </li>
                    <!-- <li>
                        <a href="/combo-sach">Combo Sách</a>
                    </li> -->

                    <li>
                        <a href="http://nhanam.com.vn/chuyen-muc/42/sach-ban-chay">Sách bán chạy</a>
                    </li>

                    <li>
                        <a href="http://nhanam.com.vn/tin-tuc/14/chuong-trinh-khuyen-mai">Chương trình khuyến mãi</a>
                    </li>

                    <li>
                        <a href="http://nhanam.com.vn/chuyen-muc/43/giam-gia-dac-biet">Giảm giá đặc biệt</a>
                    </li>



                    <li class="show-mobile"><a href="http://nhanam.com.vn/tin-tuc/5/gioi-thieu">Giới thiệu</a></li>

                    <li class="show-mobile"><a href="http://nhanam.com.vn/lich-su-giao-dich">Lịch sử giao dịch</a></li>

                    <li class="show-mobile"><a href="http://nhanam.com.vn/kiem-tra-don-hang">Kiểm tra đơn hàng</a></li>
                    <li class="show-mobile">
                        <a href="http://nhanam.com.vn/dang-ky">Đăng ký</a>
                    </li>
                    <li class="show-mobile">
                        <a href="http://nhanam.com.vn/dang-nhap">Đăng nhập</a>
                    </li>

                </ul>

            </div>

        </div>
        <div>
            @RenderBody()
        </div>
        <div class="footer">
            <div class="wrapper">

                <div class="footermenu clearfix">
                    <div class="col">

                        <ul>
                            <li><a href="http://nhanam.com.vn/tin-tuc/5/gioi-thieu">Giới thiệu</a></li>
                            <li><a href="http://nhanam.com.vn/tin-tuc/9/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
                            <li><a href="http://nhanam.com.vn/tin-tuc/10/chinh-sach-van-chuyen">Chính sách vận chuyển</a></li>
                            <li><a href="http://nhanam.com.vn/tin-tuc/12/hinh-thuc-thanh-toan"> Hình thức thanh toán</a></li>

                        </ul>
                    </div>
                    <div class="col">

                        <ul>
                            <li><a href="http://nhanam.com.vn/tin-tuc/11/quy-dinh-doi-tra-huy-don-hang">Quy định đổi, trả và huỷ đơn hàng</a></li>
                            <li><a href="http://nhanam.com.vn/tin-tuc/7/huong-dan-dat-hang">Hướng dẫn đặt hàng</a></li>
                            <li><a href="http://nhanam.com.vn/tin-tuc/8/lien-he">Liên hệ</a></li>

                            <li><a href="http://nhanam.com.vn/tin-tuc/19/thong-bao">Thông báo</a></li>
                        </ul>
                    </div>


                    <div class="socialbtn">
                        <a class="facebook" href="https://www.facebook.com/nhanampublishing">
                            Facebook
                        </a>

                    </div>
                </div>


            </div>

            <div class="copyright">

                <div class="wrapper">
                    © 2014 - Bản quyền của Công Ty Cổ Phần Văn Hoá và Truyền Thông Nhã Nam - <a href="http://nhanam.com.vn/" style="color:#fff">nhanam.com.vn</a> <br />
                    Địa chỉ: 59 Đỗ Quang, phường Trung Hoà, quận Cầu Giấy, Hà Nội
                    <br />
                    Giấy ĐKKD số 0101603420 do Sở KH&ĐT TP Hà Nội cấp ngày 21 tháng 1 năm 2005 sửa đổi lần 5 ngày 20/3/2013
                </div>



            </div>


        </div>
    </div>


    <script src="http://nhanam.com.vn/bundles/jquery?v=GG-4HyEmsS9lf7nSJLxMi0faVbJq7oLB9CRxhCA85Lw1"></script>


    <script src="http://nhanam.com.vn/bundles/jqueryval?v=dIxkPTGjHelWlu_QFt2d2XI2038hTpVy3tEgsiHm_2M1"></script>
</body>
</html>
